* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #fbc531, #487eb0);
    min-height: 100v;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

/* Overlay Menu and Input area */
.menu-btn {
    position: absolute;
    z-index: 6;
    top: 2px; 
    cursor: pointer
}

.fa-plus {
    transform: rotate(45deg);
    color: #fff;
} 

/* Menu Overlay */
.menu {
    margin-top: 10px;
    position: fixed;
    width: 80%;   
    opacity: 0.9;
    visibility: hidden;
}

.menu .show {
    visibility: visible;
}

.pen-hide {
    visibility: hidden;
}

.menu .menu-nav {
    padding-top: 0;
    color: #fbc531; 
    width: 96vw;
    /* height: 50vh; */
    background: rgba(105, 105, 105, 0.9);
    overflow: hidden;
}

.menu .menu-nav .nav-item {
    padding: 10px;
} 

h1.page-header {
    font-size: 1.2rem;
    margin: 10px 0 40px 0; 
}

.time-display {
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: 0.6rem;
    font-weight: bold;
    float: left;
}

textarea.form-control { 
    font-size: 0.9rem;
    color: #fff;
    border: 0.05rem solid #fbc531;
    background: inherit;
    width: 70vw;
    max-height: 40px; 
}

textarea.form-control::placeholder {
    color: #fff;
}

.time-area {
    display: flex;
}

.time-area input[type = time] {
    font-size: 0.8rem;
    margin-left: 5px;
    background: inherit;
    color: #fff;
}

.timer label {
    font-size: 0.8rem;
}

#stopLabel {
    margin-left: 2rem;
}

label {
    font-weight: bold;
}

td#items {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25rem;
    justify-content: space-around;
}

 .inner-td {
    font-size: 0.74rem;
    color: darkred;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: -10px;
    font-stretch: extra-condensed;
}

label#begin {
    margin-left: 100px;
}

label#end {
   margin-left: 10px;
} 

input#startTime, input#stopTime {
    background: inherit;
    border: none;
}

.btn-area {
    display: flex;
}

.btn {
    cursor: pointer;
}

.add-btn {
    font-size: 0.9rem;
}

thead tr#tr-time th { font-size: 0.8rem;}

tbody tr {
    border-bottom: 0.125rem solid #fff;
}

/* Media Query */
@media(max-width: 700px) {

     h1.page-header {
         font-size: 1rem;
         float: left;
         margin-left: 15px;
    }

    .time-area {
        flex-direction: column;
    }

    .timer {
        text-align: left;  
        margin-top: 0; 
    }

    .time-area #start {
        margin-left: 24px;
    }

    .time-area #stop {
        margin-left: 15px;
    }



    #stopLabel {
        margin-left: 0;
    }

    label#end {
        padding-left: 2px;
        margin-left: -4px;
        margin-right: -5px;
    }

    .inner-td {
    font-size: 0.68rem;
    font-stretch: extra-condensed;
    justify-content: space-evenly;
    padding: 0;
    margin: 0 0 3px 2px;
   }

   td#items {
    flex-direction: column;
    margin-bottom: 0.15rem;
    font-size: 0.85rem;
}

   label#begin {
    padding: 0.3rem;
    margin-left: 8px;
   }

   label#end {
    padding: 0.3rem;
    margin-left: 20px;
   }

    textarea.form-control { 
        width: 85vw;
    }

    tbody tr {
    border-bottom: 0.1rem solid #fff;
}
}
