@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    background: #adf0f1;
    padding: 50px 0 0 0;
}

body, header, input {
    font-family: "Roboto", sans-serif;
} 

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    z-index: 5;
    background: #25b99a;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

header h1, h2 {
    font-size: 20px;
}

form {
	display: block;
    padding: 1em;
	color: #000;
	text-decoration: none;
	border-right: 1px solid #4C4C4C;
	opacity: .6;
}

#event, #start, #stop {
    background: #034d3d;
    color: #f3b408; 
}

/* Menu Overlay */
.menu {
    margin-top: 10px;
    position: fixed;
    width: 80%;   
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    z-index: 220;
    visibility: hidden;
}

.menu .show {
    visibility: visible;
}

.close {
    visibility: hidden;
}

.menu .menu-nav {
    padding-top: 0;
    color: #fbc531; 
    width: 96vw;
    background: #323232;
    overflow: hidden;
}

.menu .menu-nav .nav-item {
    padding: 10px;
} 

.fa-plus {
    transform: rotate(45deg);
    color: #fff;
    font-size: 1.5rem;
}

.fa-plus:hover {
    color: red;
}

.time-display {
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    font-size: 0.6rem;
    font-weight: bold;
    float: left;
}
/* /////////////////////////////// */
tbody { font-size: 1.25rem;}

tbody tr {
    border-bottom: 0.15rem solid #fff;
}

#items::first-letter {
    text-transform: uppercase;
}

.inner-td {
    font-size: 0.75rem;
}