* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #fbc531, #487eb0);
    min-height: 100v;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

/* Overlay Menu and Input area */
.menu-btn {
    position: absolute;
    z-index: 6;
    top: 2px; 
    cursor: pointer
}

.fa-plus {
    transform: rotate(45deg);
    color: #fff;
} 

/* Menu Overlay */
.menu {
    margin-top: 150px;
    position: fixed;
    width: 100%;   
    opacity: 0.9;
    visibility: hidden;
}

.menu .show {
    visibility: visible;
}

.pen-hide {
    visibility: hidden;
}

.menu .menu-nav {
    padding-top: 95px;
    color: #fbc531; 
    width: 100vw;
    height: 70vh;
    background: dimgrey;
    overflow: hidden;
}

.menu .menu-nav .nav-item {
    padding: 10px;
} 

h1.page-header {
    font-size: 1.6rem;
    margin: 10px 0 40px 0; 
}

span#time-zone {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    font-weight: bold;
}
 
textarea.form-control { 
    font-size: 0.9rem;
    color: #fbc531;
    border: 0.05rem solid #fbc531;
    background: inherit;
    width: 70vw;
    max-height: 40px; 
}

textarea.form-control::placeholder {
    color: #fff;
}

.control {
    display: flex;
    flex-direction: row;
}

label {
    font-weight: bold;
}

td#items {
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
}

 .inner-td {
    font-size: 0.7rem;
    padding-right: 10px;
}

label#begin {
    margin-left: 100px;
}

label#end {
   margin-left: 10px;
} 

input#startTime, input#stopTime {
    background: inherit;
    border: none;
}

input#start, input#stop {
    float: right;
    margin-top: -5px;
    font-size: 0.8rem;
    background: inherit;
    color: #fff;
}

.time-area {
    margin-top: 40px;
    margin-left: 5px;
}

.timer {
    display: flex;
    margin: -25px auto 0 0;
}

.timer label {
    font-size: 0.8rem;
}

.timer label:first-child {
    margin-bottom: -50px;
}

.control-area {
    display: flex;
}

.btn {
    cursor: pointer;
}

.add-btn {
    font-size: 0.9rem;
    margin: -15px auto 0 0;
}

thead tr#tr-time th { font-size: 0.8rem;}

tbody tr {
    border-bottom: 0.125rem solid #fff;
}


/* Media Query */
@media(max-width: 350px) {
    .control {
        flex-direction: column;
    }

     h1.page-header {
        margin: 0 0 20px 0; 
    }
    
    .time-area {
        float: none;
        margin-top: 0.1rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .timer {
        display: flex;
        margin: 0;
    }

    label#stopLabel {
        padding-left: 2px;
        margin-left: -4px;
        margin-right: -5px;
    }

    .inner-td {
    font-size: 0.7rem;
    padding: 0;
    margin: 0 0 3px 30px;
   }

   td#items {
    flex-direction: column;
    margin-bottom: -15px;
}

   label#begin {
    padding: 0;
    margin-left: 10px;
   }

   label#end {
    padding: 0;
    margin-left: 20px;
   }

   input#startTime {
       margin-right: -15px;
   }

    textarea.form-control { 
        width: 85vw;
    }
}

@media(max-width: 780px) {

     h1.page-header {
        margin: 0 0 20px 0; 
    } 
    
    .time-area {
        float: none;
        margin-top: 0.1rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }

    .timer {
        display: flex;
        margin: 0;
    }

    input#start {
        margin-left: 10px;
   }

    input#stop {
        margin-left: 10px;
    }
    #stopLabel {
        margin-left: 50px;
    }

    .inner-td {
    font-size: 0.7rem;
    padding: 0;
    margin: 0 0 3px 30px;
   }

   label#begin {
    padding: 0;
    margin-right: -25px;
   }

   label#end {
    padding: 0;
    margin-right: -25px;
   }

    textarea.form-control { 
        width: 85vw;
    }

}
